#directories
node_modules/
__pycache__/
backend/__pycache__/
venv/
backend/venv/
frontend/dist/

.notes/
.vite/
.devicetree/

package/


#files
*.tgz
*.log
*.apk
.DS*
*.py[cod]
._*
create-package.sh

