.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    z-index: 100;
    top: 8rem;
    background: #181818;
    position: relative;
    margin: 1rem auto;
    width: 20rem;
    height: 5rem;
    padding: 2rem;

    &__header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__body {
        height: 100%;
        width: 100%;

        &__form input {
            width: 100%;
            text-align: center;
            border: none;
            border-radius: 10px;
            height: 1.5rem;
        }

        &__form .button {

            margin-top: 1.5rem;
            background-color: #0f0f0f;
            border: none;
            border-radius: 10px;
            color: #7c7c7c;
            height: 1.8rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            width: 49%;
            //font-size: 10px;
        
            &:hover {
                background-color: #101010;
                color: #dddddd;
            }
        
            &:active {
                background-color: #1a1a1a;
                color: var(--fillActive);
            }
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}