body {
    background: var(--backgroundColor);
    color: var(--textColor);
    font-size: 10pt;

    user-select: none;
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-between;

    &__header {
	height: 3rem;
    }

    &__body {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        height: 19rem;
        margin-bottom: 6rem;
    }

    &__connections {
        width: 38%;
        height: 100%;

        margin-right: .5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__wifi {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: var(--sectionColor);
            border-radius: 10px;
            height: 75%;


            &__list {
                //margin-top: -1rem;
                margin-bottom: .5rem;
                width: 90%;
                height: 70%;
                overflow-y: auto;
                overflow-x: hidden;

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;

                }
            }

            &__list::-webkit-scrollbar {
                width: 1.2rem;
					cursor: auto;
            }

            &__list::-webkit-scrollbar-track {
                background-color: var(--scrollBarBackground);
                border-radius: 10px;
            }

            &__list::-webkit-scrollbar-thumb {
                background-color: var(--fillActive);
                border-radius: 10px;

                &:active {
                    background-color: var(--fillHover);
                }
            }
        }

        &__bt {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: var(--sectionColor);
            border-radius: 10px;
            height: 20%;
            text-align: left;
        }
    }

    &__general {
        width: 55%;
        height: 100%;

        margin-left: .5rem;
        border-radius: 10px;
        background-color: var(--sectionColor);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        gap: .5rem;

        &__section {
            width: 90%;

            line-height: .2rem;

            display: flex;
            flex-direction: row;
            justify-content: center;

            &__column {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 50%;
            }
        }

        &__application {
            width: 90%;
            height: 60%;
            display: flex;
            flex-direction: column;

            overflow-y: auto;
            overflow-x: hidden;
        }

        &__system {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__application::-webkit-scrollbar {
            width: 1.2rem;
                cursor: auto;
        }

        &__application::-webkit-scrollbar-track {
            background-color: var(--scrollBarBackground);
            border-radius: 10px;
        }

        &__application::-webkit-scrollbar-thumb {
            background-color: var(--fillActive);
            border-radius: 10px;

            &:active {
                background-color: var(--fillHover);
            }
        }
    }
}

.dropdown {
    height: 2rem;
    width: 100%;
    color: var(--textColor);
    background-color: var(--buttonBackground);

    border: none;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.app-button {
    color: var(--textColor);
    background-color: var(--buttonBackground);
    border: none;
    border-radius: 10px;

    width: 95%;
    height: 2.2rem;
    margin: .2rem;

    text-align: center;
    font-size: .8rem;
	

    &:hover {
        color: var(--textColorHover);
        background-color: var(--buttonBackgroundHover);
        cursor: pointer;
    }

    &:active {
        color: var(--textColorActive);
        background-color: var(--buttonBackgroundActive);
    }

    &:disabled {
        color: var(--textColorInactive);
        background-color: var(--buttonBackgroundInactive);
        cursor: default;
    }
}

//Custom Checkboxes:
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    //display: inline-block;
    display: inline-block;
    vertical-align: text-bottom;
    width: 1rem;
    height: 1rem;
    padding: .05rem;

    background-clip: content-box;
    border: .1rem solid var(--textColor);
    border-radius: 5px;
    background-color: var(--sectionColor);
    margin-left: 2rem;
    margin-right: .5rem;

    color: #ffffff;

    &:hover {
        cursor: pointer;
    }

    &:checked{
        background-color: var(--fillActive);
    }

    &:focus{
        outline: none !important;
    }
    &:disabled {
        background-color: var(--buttonBackgroundInactive);
        cursor: default;

    }
    &:disabled + span{
        color: var(--textColorInactive);
    }
}
