body {
    background: var(--backgroundColor);
    color: var(--textColorDefault);
    font-size: 10pt;

    user-select: none;
}

.label {
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex:1 1 0px;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.list {
    margin-bottom: 7px;
}

.divider {
    flex: 1 1 0px;
    border-bottom: 1px solid var(--boxColorDefault);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.frame {
    width: 100%;
    flex: 0 1 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--boxColorDefault);
    border-radius: 10px;

    overflow: hidden;

    &__content {
        margin: 10px;
        flex: 1;
        width: 100%;
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.scroller {
    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 10px;
    background-color: var(--boxColorDark);

    padding-left: 2.5vw;
    padding-right: 2.5vw;

    &__tab {
        flex: 0 1 30%;
        height: 50px;
    
        align-self: flex-end;
        padding-left: 2.5vw;
        margin-bottom: -10px;

        line-height: 0.5vh;
        gap: 5px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.nav-icon {
    transition: fill 0.3s;

    &:hover {
        fill: var(--themeLight);
    }
}

.status-icon {
    width: 20px;
    height: 20px;

    &--active {
        color: var(--themeDefault);
    }

    &--inactive {
        color: var(--boxColorLighter);
    }
}
.button {
    flex: 0 1 30px;
    font-size: .8rem;
    
    height: 100%;
    width: 100%;

    &__round{
        border-radius: 10px;
    }

    &__square{
        border-radius: 10px;
    }

    &:hover {
        background-color: var(--boxColorDark);
    }
}

.input-style {
    border: none;
    text-align: center;
    cursor: pointer;

    color: var(--textColorDefault);
    background-color: var(--boxColorDarker);

    &:hover {
        color: var(--textColorLight);
        background-color: var(--boxColorDark);
        cursor: pointer;
    }

    &:active {
        background-color: var(--boxColorDarker);
    }

    &:disabled {
        color: var(--textColorDark);
        background-color: var(--boxColorDark);
        cursor: default;
    }

    &.inactive {
        color: var(--textColorDefault);
        background-color: var(--boxColorDarker);
    }

    &.active {
        color: var(--textColorLight);
        background-color: var(--boxColorDark);
    }
}

.nav-button {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.scrollbar-styles {
    &::-webkit-scrollbar {
        width: 1.4rem;
        cursor: auto;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--boxColorDarker);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--themeDefault);
        border-radius: 10px;
        min-height: 20px;

        &:active {
            background-color: var(--themeLight);
        }
    }
}

.input {
    height: 4vw;
    width: 40%;
    color: var(--textColorDefault);

    border: none;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: text-bottom;
    width: 1rem;
    height: 1rem;
    padding: .05rem;

    background-clip: content-box;
    border: .1rem solid var(--textColorDefault);
    border-radius: 5px;
    background-color: var(--boxColorDefault);
    margin-right: 2rem;

    color: #ffffff;

    &:hover {
        cursor: pointer;
    }

    &:checked {
        background-color: var(--themeDefault);
    }

    &:focus {
        outline: none !important;
    }

    &:disabled {
        background-color: var(--boxColorDark);
        cursor: default;
    }

    &:disabled+span {
        color: var(--textColorDark);
    }
}