:root {
    --backgroundColor: #000000;

    --textColorLight: #dddddd;
    --textColorDefault: #888888;
    --textColorDark: #535353;

    --boxColorLighter: #444444;
    --boxColorLight:  #404040;
    --boxColorDefault:  #303030;
    --boxColorDark:  #252525;
    --boxColorDarker:  #181818;
}

.Blue {
    --themeLight:               #708fa8;
    --themeDefault:             #3f77a4;
    --themeAccent:              #d84224;
}

.Green {
    --themeLight:               #aaeeaa;
    --themeDefault:             #5acc5a;
    --themeAccent:              #bc0013;
}

.Red {
    --themeLight:               #cd6969;
    --themeDefault:             #832727;
    --themeAccent:              #d80000;
}

.White {
    --themeLight:               #9f9f9f;
    --themeDefault:             #dddddd;
    --themeAccent:              #cd2424;
}