.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  gap: 10rem;
  height: 60px;
  width: 100%;
  background: var(--background-color);

  &__icon {
    width: 2rem;
    height: 2rem;

    margin-bottom: 1.5rem;

    fill: var(--fillInactive);

    transition: fill 0.3s;

    &:hover {
      fill: var(--fillHover);
    }
  }
}


.active {
  .navbar__icon {
    fill: var(--fillActive);
  }
}